<!-- Empty Cart Page -->

<section>
    <% if(!session.cart){ %>
        <div class=" empty-cart text-center">
            <h1 class="text-3xl font-bold m-4">Cart Empty 😟</h1>
            <p class="text-gray-500 text-lg mb-12">
                You probably haven't ordered any clothing yet.
                <br />
                To order something go to the main page.
            </p>
            <div />
            <img class="mx-auto w-2/5" src="/img/empty-cart.png" alt="">
        </div>
        <button class="py-2 px-4 rounded-full cart-btn m-6 text-white "><a href="/">Go Back</a></button>
        </div>
</section>
<%}else { %>
    <!-- Checkout Page -->
    <section class="bg-gray-100 p-5">
        <div class="container mx-auto mt-10">
            <div class="flex shadow-md my-10 flex-col md:flex-row">
                <div class="w-auto md:w-3/4 bg-white px-10 py-10">
                    <div class="flex flex-col justify-between border-b pb-8 text-center">
                        <h1 class="font-semibold text-2xl">Shopping Cart</h1>
                        <h2 class="font-semibold text-sm mt-3 text-pink-500">
                            <%= user? `${user.name}` : '' %>
                        </h2>
                    </div>
                    <div class="flex mt-10 mb-5">
                        <h3 class="font-semibold text-gray-600 text-xs uppercase w-2/5">Product Details</h3>
                        <h3 class="font-semibold text-center text-gray-600 text-xs uppercase w-1/5 text-center">
                            Qty
                        </h3>
                        <h3 class="font-semibold text-center text-gray-600 text-xs uppercase w-1/5 text-center">
                            Price
                        </h3>
                        <h3 class="font-semibold text-center text-gray-600 text-xs uppercase w-1/5 text-center">
                            Total
                        </h3>
                    </div>
                    <!-- Product -->
                    <% for(let product of Object.values(session.cart.items)) { %>
                        <div class="flex items-center hover:bg-gray-100 -mx-8 px-6 py-5">
                            <div class="flex w-2/5">
                                <div class="w-20">
                                    <img class="h-24" src="/img/<%=product.item.image%>" alt="">
                                </div>
                                <div class="flex flex-col justify-between ml-4 flex-grow">
                                    <span class="font-bold text-sm">
                                        <%=product.item.name%>
                                    </span>
                                    <span class="text-red-500 text-xs">
                                        <%=product.item.size%>
                                    </span>
                                    <span class="font-semibold hover:text-red-500 text-pink-500 text-xs">Size</span>
                                </div>
                            </div>
                            <div class="flex justify-center w-1/5">
                                <!-- <svg class="fill-current text-gray-600 w-3" viewBox="0 0 448 512">
                                    <path
                                        d="M416 208H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z" />
                                </svg> -->
                                <span class="mx-2 border text-center w-8">
                                    <%=product.qty%>
                                </span>
                                <!-- <input class=" mx-2 border text-center w-8" type="text"
                                            value="<%=product.qty%>"> -->

                                <!-- <svg class="fill-current text-gray-600 w-3" viewBox="0 0 448 512">
                                    <path
                                        d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z" />
                                </svg> -->
                            </div>

                            <span class="text-center w-1/5 font-semibold text-sm">
                                <%=product.item.price%>
                            </span>
                            <span class="text-center w-1/5 font-semibold text-sm">
                                <%=product.item.price * product.qty%>
                            </span>
                            </input>
                        </div>

                        <% } %>
                            <a href="/shop" class="flex font-semibold text-pink-600 text-sm mt-10">

                                <svg class="fill-current mr-2 text-pink-600 w-4" viewBox="0 0 448 512">
                                    <path
                                        d="M134.059 296H436c6.627 0 12-5.373 12-12v-56c0-6.627-5.373-12-12-12H134.059v-46.059c0-21.382-25.851-32.09-40.971-16.971L7.029 239.029c-9.373 9.373-9.373 24.569 0 33.941l86.059 86.059c15.119 15.119 40.971 4.411 40.971-16.971V296z" />
                                </svg>
                                Continue Shopping
                            </a>
                </div>
                <div id="summary" class="w-auto md:w-1/4 px-8 py-10">
                    <% if(user){ %>
                    <h1 class="font-semibold text-2xl border-b pb-8">Order Summary</h1>

                        <div class="mb-6 mt-2">
                            <form action="/orders" method="POST">
                                <label for="phone" class="block mb-2 text-sm font-medium ">Phone
                                </label>
                                <input name="phone" type="phone" placeholder="Enter your phone"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg   block w-full p-2.5">
                        </div>

                        <div class="mb-6 ">
                            <label for="address" class="block mb-2 text-sm font-medium ">Your
                                Address</label>
                            <!-- <input name="address" type="text" id="address" placeholder="Enter your address" n
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg   block w-full p-2.5"
                                required> -->
                                <textarea required placeholder="Enter your Address" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5" name="address" id="address" cols="30" rows="10"></textarea>
                        </div>
                        <div class="flex justify-between mt-10 mb-5">
                            <span class="font-semibold text-sm uppercase">
                                <%=session.cart.totalQty%> ITEMS
                            </span>
                            <span class="font-semibold text-sm">
                                ₹ <%=session.cart.totalPrice %>
                            </span>
                        </div>
                        <button type="submit"
                            class="bg-pink-500 font-semibold hover:bg-pink-600 py-3 text-sm text-white uppercase w-full rounded-full ">Checkout</button>
                        <% } else { %>
                            <a href="/login"> <button type="button"
                                    class="rounded-full bg-pink-500 font-semibold hover:bg-pink-600 py-3 text-sm text-white uppercase w-full ">
                                    Login to Checkout
                                </button>
                            </a>
                            <% } %>
                                </form>

                </div>

            </div>

        </div>
        </div>
        </div>

        </div>
        <%} %>
    </section>