<section class="status">
  <div class="container mx-auto">
    <div class="status-box w-2/3 mx-auto">
      <div class="flex justify-between items-center flex-col mb-12">
        <%if(order.status ==='completed') {%>
       
          <form action="/reviews/<%=user.name%>" method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 w-full" >
            <div class="mb-6">
              <label
                class="block text-pink-700 text-sm font-bold mb-2"
                for="review"
              >
           Hello,<%=user.name %> We've delivered your purchase to you successfully. <br> <span class="text-black">Order NO: <%= order._id%></span> 
              </label>
              <textarea
              required
                name="review"
                placeholder="Enter your review"
                id="review"
                cols="30"
                rows="10"
                class="shadow appearance-none border focus:border-red-500 rounded w-full py-2 px-3 text-black mb-3 leading-tight focus:outline-none focus:shadow-outline"
              ></textarea>
            </div>
            <div class="flex items-center justify-between">
              <button
                class="bg-pink-500 hover:bg-pink-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                type="submit"
              >
                Submit
              </button>
            </div>
          </form>
        </div>
        <% }else { %>
        <h1 class="text-xl font-bold">Delivery Status</h1>
        <h6 class=" mt-3 bg-white py-1 rounded-full px-4 text-xs text-green-600">
          <%=order._id%>
        </h6>
        <input
          id="hiddenInput"
          type="hidden"
          value="<%= JSON.stringify(order) %>"
        />
      </div>
      <ul>
        <li class="status-line text-sm lg:text-xl pb-16" data-status="order_placed">
          <span>Order Placed</span>
        </li>
        <li class="status-line text-sm lg:text-xl pb-16" data-status="confirmed">
          <span>Order Confirmation</span>
        </li>
        <li class="status-line text-sm lg:text-xl pb-16" data-status="prepared">
          <span>Preparation</span>
        </li>
        <li class="status-line text-sm lg:text-xl pb-16" data-status="delivered">
          <span>Out for Delivery</span>
        </li>
        <li class="status-line text-sm  lg:text-xl" data-status="completed">
          <span>Complete</span>
        </li>
      </ul>
      <% } %>
    </div>
  </div>
</section>
